.parents {
    .dash-header {
        border-bottom: 3px solid $color-blue-light;
    }
    .dash-menu .navbar-expand-sm .navbar-nav li a:hover {
        color: $color-blue-light;
    }
    a {
        &:hover {
            color: $color-blue-light;
        }
    }
    .dash-menu .navbar-toggler {
        border: 2px solid $color-blue-light;
        color: $color-blue-light;
    }
    .meeting-text h3 {
        color: $color-blue-light;
    }
    .dashboard-meetings .video-meeting .meeting-title {
        color: $color-blue-light;
    }
    .meeting-comments {
        border: 2px solid $color-blue-light;
    }
    .meeting-input button {
        color: $color-blue-light;
    }
}

.dash-parents {
    &__title{
     font-size:1.8rem;
     font-weight: bold;  
     color: black;
     margin-top: 3rem; 
    }

    &__info{
        text-align: center;
    }

    &__search-nav{
        margin-top:1rem;
    }

    &__input{
        border-radius: 25px;
        padding: 1rem 1rem 1rem 30px;
        align-self: center;
        flex-basis: 40%;
        font-size: 1.4rem;
        border: 1px solid $color-grey-light;
    
        &:focus,
        &:hover{
            border: 1px solid $color-blue-light;
            outline: none;
        }
    }

    &__btn{
        padding: 1rem 5rem;
        font-size: 1.6rem;

        &:focus,
        &:hover{
            outline: none;
        }
        
    }

    &__filter-icon{
        width: 2rem;
        margin: auto;
        left: 23px;
        color: $color-blue-light;
        position: absolute;
        top: 10px;
    }

    &__list{
        background-color: #F6F6F6;
        height: auto;
        margin-top:3rem;
        padding: 0;
        padding: 2rem;
        border-radius: 1.3rem;
        display: flex;
        align-items: center;

        &-date{
            border-radius: 50%;
            background: linear-gradient(90deg, $color-blue-light 81%, $color-orange 100%);
            color: white;
            height: 70px;
            max-height: 70px;
            min-height: 70px;
            max-width: 70px;
            min-width: 70px;
            display: flex;
        }

        &-details{
            &--title{
                font-size: 1.7rem;
                font-weight: bold;
                letter-spacing: 1px;
                color: #575756;
            }
        }
        &-link{
              display: flex;
              align-items: center;
              align-self: flex-end;  
        }

        &-arrow-icon{
            color:$color-blue-light;
            display: flex;
            align-self: center;   
        }
    }
}


.centrar{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.blac-icon {
    color:  #575756;
}

.blue-color {
    color:$color-blue-light;
}

.space-between{
    justify-content: space-between;
}

.dash-welcome .parents-login__inputs {
    label {
        color: $color-blue-light;
        font-weight: 600;
    }
    input {
        font-weight: 400;
        &::placeholder {
            color: $color-grey-mid;
        }
    }
    
}