.teachers {
    .dash-header {
        border-bottom: 3px solid $color-yellow;
    }
    .dash-menu .navbar-expand-sm .navbar-nav li a:hover {
        color: $color-yellow;
    }
    a {
        &:hover {
            color: $color-yellow;
        }
    }
    .dash-menu .navbar-toggler {
        border: 2px solid $color-yellow;
        color: $color-yellow;
    }
    .meeting-appointment {
        .meeting-date {
            background-image: linear-gradient(to right, $color-yellow, $color-orange);
        }
        .meeting-arrow {
            color: $color-yellow;
        }
        &:hover {
            -webkit-box-shadow: 4px 4px 6px -2px rgba(214,214,214,1);
            -moz-box-shadow: 4px 4px 6px -2px rgba(214,214,214,1);
            box-shadow: 4px 4px 6px -2px rgba(214,214,214,1);
        }
    }
}

.dash-teachers{
    &__title{
     font-size:1.8rem;
     font-weight: bold;  
     color: black;
     margin-top: 3rem; 
    }

    &__info{
        text-align: center;
    }

    &__search-nav{
        margin-top:1rem;
        position: relative;
    }

    &__input{
        border-radius: 25px;
        padding: .5rem;
        align-self: center;
        flex-basis: 40%;
        font-size: 1.8rem;
        border: 1px solid $color-grey-light;
        right: 20px;
        &:focus,
        &:hover{
            border: 1px solid $color-yellow;
            outline: none;
        }
    }

    &__btn{
        padding: 1rem 5rem;
        font-size: 1.6rem;

        &:focus,
        &:hover{
            outline: none;
        }
        
    }

    &__filter-icon{
        width: 2rem;
        margin: auto;
        left: -1rem;
        color: $color-yellow;
        position: absolute;
        top: 5px;
    }

    &__list{
        background-color: #F6F6F6;
        height: auto;
        margin-top:3rem;
        padding: 0;
        padding: 2rem;
        border-radius: 1.3rem;
        display: flex;
        align-items: center;

        &-date{
            border-radius: 50%;
            background: linear-gradient(90deg, $color-yellow 81%, $color-orange 100%);
            color: white;
            height: 70px;
            max-height: 70px;
            min-height: 70px;
            max-width: 70px;
            min-width: 70px;
            display: flex;
        }

        &-details{
            &--title{
                font-size: 1.7rem;
                font-weight: bold;
                letter-spacing: 1px;
                color: #575756;
            }
        }
        &-link{
              display: flex;
              align-items: center;
              align-self: flex-end;  
        }

        &-arrow-icon{
            color:$color-yellow;
            display: flex;
            align-self: center;   
        }
    }
}


.centrar{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.blac-icon {
    color:  #575756;
}

.yellow-color{
    color:$color-yellow;
}

.space-between{
    justify-content: space-between;
}