/* Ligin Styles*/
.login {
    height: calc(100vh - 65px);
    background-image: url('../bg-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 10;

    &__center{
        position: absolute;
        top: calc(43% - 60px);
        left: 50%;
        width: 100%;
        transform: translate(-50%, calc(-50% + 60px));
    }
}


.login-form {
    text-align: center;
    margin-top: 3.3rem;
    @media screen and (max-width: $break-small) {
        margin-bottom: 10px;
    }

    @media screen and (min-width: $break-xsm) and (max-width: 400px) {
        max-width: 400px; 
    }
    input {
        background-color: transparent;
        border: 1px solid $color-white;
        border-radius: 25px;
        color: $color-white;
        width: 100%;
        padding: 8px 10px;
        line-height: 1;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 2rem;
        height: 5rem;
        
        &:focus {
            outline: 0;
        }
        &::placeholder {
            color: $color-white;
            font-weight: 600;
            font-size: 2rem;
        }
        @media screen and (min-width: $break-md) {
            margin-left:2rem;
        }
    }
}

.create-account {
    text-align: center;
    color: $color-white;
    float: right;
    margin-top: 30px;
    // @media screen and (max-width: $break-small) {
    //     margin-top: 0;
    // }
    i {
        font-size: 50px;
    }
    h5 {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.title {
    font-size: 5rem;
    font-family: $default-font-family;
    color: $color-white;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 4.8rem;
    padding-left: 2rem;

    @media screen and (max-width: $break-md) {
        font-size: 4.5rem;
        padding-left: 0;
        text-align: center;
    }

    @media screen and (max-width: $break-sm) {
        font-size: 4.1rem;
        text-align: center;
        padding-left: 0;
    }

    @media screen and (min-width: $break-xsm) and (max-width: 400px) {
        font-size: 3.5rem;
        text-align: center;
        padding-left: 0;
    }
}

.subtitle {
    font-size: 5rem;
    font-family: $default-font-family;
    color: $color-white;
    font-weight: 300;
    padding-left: 2rem;

    @media screen and (max-width: $break-md) {
        font-size: 4.5rem;
        text-align: center;
        padding-left: 0;
    }

    @media screen and (max-width: $break-sm) {
        font-size: 4rem;
        text-align: center;
        padding-left: 0;
    }

    @media screen and (min-width: $break-xsm) and (max-width: 400px) {
        font-size: 3.5rem;
        text-align: center;
        padding-left: 0;
    }
}

.mt-1vh{
    margin-top: 1vh;
}

.mt-3vh{
    margin-top: 3vh;
}

.mt-10vh{
    margin-top: 10vh;
}

.fixed{
    background-color: transparent;
    position: fixed;
    bottom: 0;

    @media screen and (max-width: $break-xsm) {
        position: relative
    }
}

.contraseña {
     margin-top: 3rem;
    & a{
        color: $color-white;
    }
}

.btn-login{
    text-align: center;
    font-weight: 800 !important;
    font-size: 1.4rem !important;
    color: #ffffff;
    background: transparent;
    padding: 1.3rem 3rem;
    border: 1px solid #ffffff;
    text-decoration: none;
    transition: all .5s;
    border-radius: 25px;
    line-height: 1;
    text-transform: uppercase;
    max-width: 50%;
    max-height: 3.6rem;
}

.create-account {
    text-align: center;
    color: #ffffff;
    float: right;
    margin-top: -2rem;
}

.footer .footer-info img {
    width: 25px;
}

.contact-button {
    background: none;
    border: none;
}


.modal-content {
    background-color: white;
    border: none;
    border-radius: 0;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

