.dash-new-meeting{
    &__title{
        text-transform: uppercase;
        color:$color-grey-dark;
        font-weight: 400;
        font-size:2.8rem;
        margin-top: 5rem;
        margin-left:5rem;
        margin-bottom: 5rem;
        @media screen and (max-width: $break-small) {
            margin-top: 0;
            margin-left: 0;
            margin-bottom: .1rem;
        }
    }
    .labels{
        margin-left: 0;
        font-size: 1.8rem;
        font-weight: 600;
        color:$color-grey-dark;
        padding-right:1rem;
        line-height: 1.2;
    }
    select {
        width: 100%;
        background: #fff;
        border: 1px solid #c6c6c6;
    }
}


.line {
    border:none;
    border-bottom: 1px solid $color-grey-mid;
    height: 30px;
    width: 100%;
    font-size: 1.6rem;
    color: #9d9d9d;
    font-weight: 400;
}

.scroll-sm {
    @media screen and (max-width: $break-small) {
        height: calc(100vh - 235px);
        overflow-y: auto;
    }
}