.parents-login{
    height: calc(100vh - 60px - 80px);
    /* display: flex; */
    flex-direction: column;
    /* max-width: 992px; */
    background-size: cover;
    
    & h1{
        width: 100%;
        text-align: center;
        font-size: 3rem;
        color:$color-black-light;
        font-family: 'Open sans';
        font-weight: bold;
        display: block;
        margin-bottom: 3rem;
    }
    
    &__inputs {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;

        input{
            font-size: 1.6rem;
            padding: 10px 15px;
            border: 1px solid #e5e5e5;
            border-radius: 3px;
            color:$color-grey-light;
            font-weight: 600;
            font-family:$default-font-family;
            max-width: 35rem;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
            border-radius: 25px;
            border-width: 2px;
            margin-top:2rem;
            background-color: transparent;

            &:hover{
                border: 2px solid $color-blue-light;
            }
        }
    }

    &__btns{
        display: flex;
        justify-content: space-between;
        width: 45rem;
        margin-top: 5rem;
    }
}

.btn-next-blue{
    display: inline-block;
    border: 0;
    box-shadow: 1px 1px 1px grey;
    line-height: 45px;
    padding: 0 60px;
    border-radius: 25px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop($color-blue-light), color-stop($color-blue-lighter));
    background-image: linear-gradient(to right, $color-blue-light, $color-blue-lighter);
    font-size: 1.6rem;
    color:$color-white;
    font-family: $default-font-family;
    font-weight: 500;
    text-transform: capitalize;

    &:hover{
        background-image: -webkit-gradient(linear, left top, right top, color-stop($color-blue-lighter), color-stop($color-blue-light));
        background-image: linear-gradient(to right, $color-blue-lighter, $color-blue-light);
        color:$color-white;
        font-weight: 600;
    }
}


.btn-back-blue{
    display: inline-block;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
    line-height: 45px;
    padding: 0 60px;
    border-radius: 25px;
    font-size: 1.6rem;
    color:$color-blue-lighter;
    font-family: inherit;
    font-weight: 500;
    text-transform: capitalize;
    border: 0;
    box-shadow: 1px 1px 1px grey;

    &:hover{
        color:$color-blue-lighter;
        font-weight: 600;
    }
}


.login-button-parents {
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
    line-height: 45px;
    padding: 0 60px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: 0px;
    font-size: 1.6rem;
    background-image: $color-white;
    font-family: inherit;
    font-weight: 500;
    text-transform: capitalize;
    color: $color-black;
    float: right;
    margin-top: 1.5rem;

    &:hover{
        background-image: linear-gradient(to right, rgba(29, 113, 184, 0.81), #36a9e1);
        color:$color-white;
        font-weight: 600;
    }
}

.bg {
    background-image: url(../bg-admin.png);
}

.img-fluid-login {
    margin-left: 37%;
    margin-right: 50%;
    margin-top: 0px;
    width: 25%;
}