.teachers-login{
    height: calc(100vh - 60px - 80px);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    max-width: 992px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 60px;
    padding-top: 5rem;

    & h1{
        width: 100%;
        text-align: center;
        font-size:3.8rem;
        color:$color-black-light;
        font-family: 'Open sans';
        font-weight: bold;
        display: block;
        margin-bottom: 3rem;
    }
    
    &__inputs {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;

        input{
            font-size: 1.6rem;
            padding: 10px 15px;
            border: 1px solid #e5e5e5;
            border-radius: 3px;
            color:$color-grey-light;
            font-weight: 600;
            font-family:$default-font-family;
            max-width: 35rem;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
            border-radius: 25px;
            border-width: 2px;
            margin-top:2rem;
            background-color: transparent;

            &:hover{
                border: 2px solid $color-yellow; 
            }
        }
    }

    &__btns{
        display: flex;
        justify-content: space-between;
        width: 45rem;
        margin-top: 5rem;
    }
}

.btn-next-yellow{
    display: inline-block;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
    line-height: 45px;
    padding: 0 60px;
    border-radius: 25px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop($color-yellow), color-stop($color-orange));
    background-image: linear-gradient(to right, $color-yellow, $color-orange);
    font-size: 1.6rem;
    color:$color-white;
    font-family: $default-font-family;
    font-weight: 500;
    text-transform: capitalize;

    &:hover{
        background-image: -webkit-gradient(linear, left top, right top, color-stop($color-orange), color-stop($color-yellow));
        background-image: linear-gradient(to right, $color-orange, $color-yellow);
        color:$color-white;
    }
}


.btn-back-yellow{
    display: inline-block;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
    line-height: 45px;
    padding: 0 60px;
    border-radius: 25px;
    font-size: 1.6rem;
    color:$color-yellow;
    font-family: inherit;
    font-weight: 500;
    text-transform: capitalize;

    &:hover{
        color:$color-yellow;
        font-weight: 600;
    }
}