.user-selecter{
    height: calc(100vh - 65px);
    background-image: url('../bg-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &-flex{  
        display: flex;
        flex-direction: column;
        max-width: 992px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        @media screen and (max-width: $break-xsm) {
            height: auto;
        }
    }

    &__title{
        font-size: 2.8rem;
        color: white;
        font-family:'Open Sans';
        font-weight: 800;
        line-height: 68px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__btns{
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: $break-xsm) and (max-width: 400px) {
            display:inline-block;
            text-align: center;
        }
    }
}